mat-card{
    width:700px;
    justify-content: center;
}

.detalle-card{
    margin-left: 24rem;
    margin-top: 5rem;

    .datos-detalle{
        margin-top: 1rem;
        margin-left: 2rem;
        width:600px;
    }
}

mat-volver{
    background-color:white;
}