.custom-card {
    max-width: 600px;
  }
  
  .header-image {
    background-image: url('https://i.picsum.photos/id/1005/509/600.jpg');
    background-size: cover;
  }
  
  .with-icon {
    display: flex;
    align-items: center;
}