#titleNavbar{
    font-family: DMSans,sans-serif;
    color: #032027;
    font-size: 1.4rem;   
}

div img{
    width: 180px;
     height: 60px;
     align-items: right;
     
 }

 .mat-toolbar{
     justify-content: flex;
     flex-direction: row;

     .consulta{
         span{
            justify-content: end;
         }
    }
 }