

#titleNavbar{
    font-family: DMSans,sans-serif;
    color: #002f3a;
    font-size: 1.3rem;
    
}

div img{
    align-self: flex-end;
    width: 180px;
     height: 60px;
     margin-top: 8%;
     
 }

 .mat-toolbar{
     justify-content: flex;
     flex-direction: row;

     .consulta{
         span{
            justify-content: end;
         }
    }
 }