.mat-toolbar {
    justify-content: center;
}

.mat-toolbar span {
    padding: 40px;
    font-size: 2.5rem;
}

.mat-toolbar span a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}