:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
}

.sidebar {
    min-width: auto;
}

.vertical-scroll {
    overflow-y: scroll;
}

.h-100p {
    min-height: 1000px;
}

.footer {
    position: absolute;
    bottom: 0;
}


/* Hide scrollbar for Chrome, Safari and Opera */

.vertical-scroll::-webkit-scrollbar {
    display: none;
}


/* Hide scrollbar for IE and Edge */

.vertical-scroll {
    -ms-overflow-style: none;
}